.button {
	width: 207px;
	height: 45px;

	/*vertical-align: middle;*/

	background-color: transparent;

	border: 1px solid #f82370;
	
	color: #f53f4f;

	cursor: pointer;

	transition: background-color .15s, color .15s;
}

.button:hover {
	background-color: #f82370;

	color: white;

	transition: background-color .15s, color .15s;
}

.button:focus {
	background-color: #f82370;

	color: white;
}

.button:active {
	background-color: transparent;

	color: #f53f4f;
}

.btn-mob {
	display: none;

	width: 25px;
	height: 25px;

	background-color: transparent;

	border: 1px solid #f82370;
	border-radius: 25px;

	color: #f53f4f;

	cursor: pointer;

	transition: background-color .15s, color .15s;
}

.btn-mob:hover {
	background-color: #f82370;

	color: white;

	transition: background-color .15s, color .15s;
}

.btn-mob:focus {
	background-color: #f82370;

	color: white;
}

.btn-mob:active {
	background-color: white;

	color: #f82370;
}

.button-big {
	width: 270px;
	height: 60px;

	background-color: #ff4e2e;

	border: 1px solid #ff4e2e;
	
	font-size: 18px;

	color: white;

	cursor: pointer;

	transition: background-color .15s, border .15s, color .15s;
}

.button-big:hover {
	background-color: transparent;

	color: #ff4e2e;

	transition: background-color .15s, border .15s, color .15s;
}

.button-big:focus {
	background-color: transparent;

	color: #ff4e2e;
}

.button-big:active {
	background-color: #ff4e2e;

	color: white;
}
