.modal__inner {

}

.modal__inner--hidden {
	display: none;
}

.modal {
	position: fixed;
	z-index: 20;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .6);

	/*display: none;*/
}

.modal__form {
	width: 100%;
	max-width: 500px;

	padding: 30px 20px;

	background-color: white;

	/*border: 1px solid #f82370;*/

	box-shadow: 0 0 20px 1px;
}

.form {
	
}

.form__label {
	
}

.form__input {
	display: block;

	width: 100%;
	height: 50px;

	margin: 10px 0 20px 0;
}

.form__textatea {
	width: 100%;
	height: 200px;

	margin: 10px 0 20px 0;

	resize: none;
}

.modal__btn {
	display: block;

	margin: 0 auto;
}