
.modal {
	display: none;
	
	position: fixed;
	z-index: 20;

	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .6);
}

.modal--hidden {
	display: none;
}

.modal__form {
	width: 100%;
	max-width: 500px;

	padding: 30px 20px;

	background-color: white;

	/*border: 1px solid #f82370;*/

	box-shadow: 0 0 20px 1px;
}

.form {
	
}

.form__label {
	
}

.form__input {
	display: block;

	width: 100%;
	height: 50px;

	padding: 0 10px;
	margin: 10px 0 20px 0;

	border: 1px solid #f82370;
}

.form__input:focus {
	outline: 3px solid #f82370;
}

.form__textatea {
	width: 100%;
	height: 200px;

	margin: 10px 0 20px 0;

	border: 1px solid #f82370;

	resize: none;
}

.form__textatea:focus {
	outline: 3px solid #f82370;
}

.modal__inner {

}

.js-modal__mail {
	display: none;
}

.js-modal__text {
	display: none;
}

.modal__inner--hidden {
	display: none;
}

.modal__btn {
	display: block;

	margin: 0 auto;
}