
.modal {
	display: none;

	position: fixed;
	z-index: 20;

	overflow: auto;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .6);
}

.modal__form {
	margin: 10% auto;
}

.modal__form--position {
	margin: 40px auto;
}

.form {
	width: 100%;
	max-width: 500px;

	padding: 30px 20px;
	
	background-color: white;

	box-shadow: 0 0 50px 10px rgba(0, 0, 0, .4);
}

.form__label {
	
}

.form__input {
	display: block;

	width: 100%;
	height: 50px;

	padding: 0 10px;
	margin: 10px 0 20px 0;

	border: 1px solid #f82370;
}

.form__input:focus {
	outline: 3px solid #f82370;
}

.form__textatea {
	width: 100%;
	height: 200px;

	margin: 10px 0 20px 0;

	border: 1px solid #f82370;

	resize: none;
}

.form__textatea:focus {
	outline: 3px solid #f82370;
}

.form__btn {
	display: block;

	margin: 0 auto;
}
